{{ 'loginregister.css' | asset_url | stylesheet_tag }}

<div class="loginregister_container">
  <div class="loginregister_form-wrapper">
      <h1>Reset password</h1>
      {% form 'reset_customer_password' %}
        {% if form.errors %}
          {% assign isError = "error_sign" %}
        {% endif %}
        <div class="input_wrapper">
          <input required type="password" id="customer_password" name="customer[password]" class="customer_input {{isError}}">
          <label class="loginregister_label" for="customer_password">New Password</label>
        </div>
        <div class="input_wrapper"> 
            <input required type="password" id="customer_confirmpassword" name="customer[password_confirmation]" class="customer_input {{isError}}">
            <label class="loginregister_label" for="customer_confirmpassword">Confirm Password</label>
        </div>
        {% if form.errors %}
          <p class="form_error">{{ form.errors | default_errors }}</p>
        {% endif %}
        <button class="loginregister_form-btn" type="submit">Reset password</button>
      {% endform %}
  </div>