{{ "component-image-with-text.css" | asset_url | stylesheet_tag }}

<div class="image__with-text">
    <article>
        {% for description in product.metafields.presentation_desc.presentation_description %}
        <div class="product__desc-block">
            <div class="markdown_block">
              {% 
                render 
                "richtext" with richtext: description.html,
                class_prop: "product_description_text"  
              %}
            </div>

            {% assign image = product.metafields["Presentation image"].presentation_image[forloop.index0] | first %}
              <figure>
                <img class="product_description_image" src="{{ image.src }}" alt="{{ image.alt }}">
              </figure>
        </div>
        {% endfor %}
    </article>
</div>