.image__with-text{
  width: 100%;
  height: auto;
  background-color: #000;
  color: #fff;
}

.product__desc-block{
  width: 100%;
  display: flex;
  padding: 0px 40px;
  height: 620px;
  align-items: center;
  justify-content: space-between;
}

.product__desc-block:nth-child(even){
  flex-direction: row-reverse;
}

.product__desc-block:first-child{
  padding-right: 0;
}

.markdown_block{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product__desc-block:nth-child(even) .markdown_block{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 120px;
}

.product_description_text strong {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 167.5%;
  font-family: var(--open-sans);
  margin-bottom: 16px;
}

.product_description_text > h3{
  font-weight: 400;
  font-size: 28px;
  line-height: 130%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  font-family: var(--open-sans);
  margin-bottom: 34px;
}

.product_description_text p{
  font-family: var(--open-sans);
  font-weight: 400;
  font-size: 16px;
  line-height: 167.5%;
  margin-bottom: 25px;
}

.product_description_text > h1{
  font-weight: 700;
  font-size: 40px;
  line-height: 143%;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  width: 60%;
  font-family: var(--open-sans);
}


.product_description_image{
  width: 680px;
  object-fit: contain;
  height: 480px;
}

.product_description_image:first-child{
  width: 720px;
  height: 620px;
}