.recommended__products-list{
  display: flex;
  list-style-type: none;
}

.product__recommendation{
  padding: 0px 40px;
  margin: 80px 0px 94px 0px;
}

.recommended_product-link{
  text-decoration: none;
  color: #000;
}