.product_container{
  width: 100%;
  height: auto;
}

.product_form-container{
  width: 100%;
  height: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product_media-wrapper{
  width: 50%;
  height: 900px;
}

.product_info-form{
  width: 50%;
  height: 100%;
  overflow-y: hidden;
  padding: 40px 135px 0px 100px;
}

.product_carousel{
  height: 900px;
  max-height: 900px;
}

.swiper-slide{
  width: 100%;
  height: 900px;
  max-height: 900px;
}

.media_item{
  width: 95%;
  height: 100%;
}

.product_info{
  width: 100%;
  height: 100%;
  font-family: var(--open-sans);
}

.product_info-title{
  font-weight: 600;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.product_info-desc{
  font-weight: 400;
  font-size: 14px;
  line-height: 167.5%;
  margin-top: 24px;
}

.card__rating{
  display: flex;
  align-items: center;
}

.card__rating > span{
  font-weight: 300;
  font-size: 14px;
  line-height: 167.5%;
  margin-left: 8px;
}

.product_info-price{
  font-family: var(--open-sans);
  font-weight: 400;
  font-size: 14px;
  line-height: 167.5%;
  text-transform: uppercase;
}

.product_features-shipping{
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  line-height: 167.5%;
  color: #979797;
}

.product_variants_container{
  width: 100%;
  height: auto;
  margin-bottom: 16px;
}

.product_variants{
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.option-Size-label{
  border: 1px solid #F1F1F1;
  cursor: pointer;
  width: 142px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.product_variants > div{
  display: flex;
  align-items: center;
  justify-content: center;
}

.option-Size-radio{
  -webkit-appearance: none;
}

.option__label{
  display: flex;
  margin: 8px 0px;
}

.product_variants .option-Size-radio[type="radio"]:checked ~ .option-Size-label{
  border: 1px solid #000;
}

.option-Color-label{
 display: none;
}
.option-Color-radio{
  margin-right: 10px;
}

.option-Color-radio::after{
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

.addtocart_btn{
  width: 100%;
  height: 43px;
  background-color: #000;
  color: #fff;
  border: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.175em;
  text-transform: uppercase;
  font-family: var(--open-sans);
  margin-top: 40px;
  cursor: pointer;
}

.product_finance-company{
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 167.5%;
  font-family: var(--open-sans);
}

.product_finance-company > p{
  margin-left: 8px;
}